.page {
    width: 51.25rem;
    height: auto;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.page__top {
    background: #fff;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    padding: 1.125rem 4.5rem 35px 4.5rem;
}

.page__bottom {
    background: #f8fbfb;
    padding: 0rem 4.5rem 28px 4.5rem;
    border-radius: 0rem 0rem 1.25rem 1.25rem;
    height: auto;
}

.resume__page__title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.page__title--text {
    margin-right: 2rem;
    padding: 0.625rem 0rem;
    color: #0b0909;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem; /* 100% */
    letter-spacing: 0.063rem;
}

.records {
    display: flex;
    flex-direction: row;
}

.edu,
.exp {
    flex: 1;
}

.record__card--titles {
    display: flex;
    align-items: center;
    margin-bottom: 1.313rem;
}

.record__card--titles svg {
    margin-right: 0.578rem;
}

.record__card {
    flex-shrink: 0;
    border-radius: 0.578rem;
    display: flex;
    margin-bottom: 1.563rem;
    flex-direction: column;
}

.record__card--details {
    display: flex;
    flex-direction: column;
    width: 18.058rem;
    height: 7.223rem;
    border-radius: 0.578rem;
    padding-left: 0.578rem;
    justify-content: center;
}

.edu__card:nth-child(even) {
    background-color: #ffe3bf;
}

.edu__card:nth-child(odd) {
    background-color: #ffeed9;
}
.exp_card:nth-child(even) {
    background-color: #ffeed9;
}

.exp_card:nth-child(odd) {
    background-color: #ffe3bf;
    margin-top: 10px;
}

.record__card--title {
    color: #000;
    font-family: Poppins;
    font-size: 1.734rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.889rem;
    letter-spacing: 0.043rem;
}

.record__card-year {
    color: rgba(26, 16, 3, 0.5);
    font-family: "Raleway", sans-serif;
    font-size: 0.867rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.578rem;
}

.record__card-title {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 0.867rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.578rem;
}

.record__card-school {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 0.867rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.skills__list {
    display: flex;
    flex-direction: row;
}

.skill_set {
    flex: 1;
}

.skill_set--title {
    color: #000;
    font-family: Poppins;
    font-size: 1.734rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.889rem;
    letter-spacing: 0.043rem;
}

.card__skill {
    display: inline-flex;
    padding: 0.25rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    background: #e1e8ef;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.015rem;
}

.card__skill {
    margin: 5px;
}

@media (max-width: 640px) {
    .body__contents {
        width: 100%;
    }

    .page {
        width: 400px;
        height: auto;
        box-sizing: border-box;
        margin: 0.625rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .resume__page__title {
        flex-direction: column;
    }

    .page__title--text {
        margin-right: 0;
    }

    .records {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .page__bottom {
        width: auto;
        padding: 0;
        flex-direction: column;
        /* padding: 1.125rem 4.5rem 35px 4.5rem; */
    }

    .skill_set {
        flex-wrap: wrap;
    }
    .skills__list {
        flex-direction: column;
        margin-bottom: 18px;
        width: 100%;
    }

    .skill_set--cards {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .card__skill {
        margin: 5px;
    }

    .exp_card:nth-child(odd) {
        margin-bottom: 10px;
    }
}

@media (min-width: 641px) and (max-width: 1250px) {
    .contents {
        display: flex;
        align-items: center;
        width: 100%;
    }

    header {
        display: flex;
        width: 100%;
        justify-content: center;
        top: 0;
        position: sticky;
        background-color: #fff;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: auto;
        box-sizing: border-box;
        position: absolute;
        top: 2.7rem;
        position: fixed;
    }
    .contents {
        margin-top: 0;
    }

    .page {
        margin-top: 10px;
        width: 90%;
        height: auto;
    }

    .resume__page__title {
        padding: 1.125rem 4.5rem 1.75rem 4.5rem;
    }

    .page__top {
        width: auto;
        background: #fff;
        padding: 10px 25px;
    }

    .page__bottom {
        width: auto;
        background: #f8fbfb;
        padding: 10px 25px;
    }

    .card__skill {
        margin: 5px;
    }

    .records {
        flex-direction: row;
        width: auto;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .record__card {
        flex: 1;
        align-items: center;
    }
}
